/* Write your styles */

body {
	font-family: "微软雅黑" !important;
}

.login_register button {
	width: 46%;
	float: left;
}

.login_register a {
	width: 46%;
	float: right;
}

header {
	position: fixed;
	height: 50px;
	width: 100%;
	z-index: 999;
	border-bottom: 1px solid #ccc;
	background-color: white;
	text-align: center;
	top: 0;
}

header a {
	color: #222;
	line-height: 50px;
	height: 50px;
}

header a:hover {
	color: #e57373;
}

ul {
	padding: 0;
}

.nav-header-left {
	margin: 0 auto;
}

.nav-header-right {
	height: 50px;
	line-height: 50px;
	width: 10%;
	margin-right: 20%;
}

.nav-header-right a {
	display: inline-block;
	margin-left: 8px;
}

.logo {
	width: 10%;
	padding: 0;
}

.fl {
	float: left;
}

.fr {
	float: right; 	
}

.nav {
	/*margin-left: 20%;*/
	width: 30%;
	font-size: 0;
	padding: 0;
}

.nav .nav-item {
	display: inline-block;
	width: 20%;
	font-size: 16px;
	color: #fff;
	margin-left: 10px;
}

.nav-item.active {
	background-color: #e57373;
}

.nav-item.active a,.nav-item.active a:hover{
	color:#fff;
}

body {
	position: absolute;
	width: 100%;
	background-color: #f0f0f0;
	font: 400 14px "Hiragino";
	overflow: auto; 
}

.content {
	margin-top: 80px;
	width: 80%;
	margin-left: 10%;
	/*margin-bottom: 100px;*/
}

.publish-content {
	margin-top: 80px;
	width: 80%;
	margin-left: 20%;
	margin-bottom: 80px;
}

.main-content {
	width: 70%;
	margin-bottom: 80px;
}

.lost {
	padding-bottom: 20px;
}

/*.lost div.img {
	float: left;
	clear: both;
}

.lost div.decrible {
	float: left;
	font-size: 15px;
}

.decrible {
	margin-left: 20px;
	height: auto;
	min-width: 400px;
	float: left;
	background-color: white;
}
*/
.footer {
        width: 100%;
	height: 60px;
	background-color: #313131;
	position: fixed;
	bottom: 0;
	z-index: 999;
	/*padding-top: 40px;*/
}

.footer div {
	height: 60px;
	line-height: 60px;
	width: 100%;
	margin: 0 auto;
	color: #c7c7c7;
	font-size: 12px;
	text-align: center;
	overflow: hidden;
}

.notice {
	width: 20%;
	position: fixed;
	top: 80px;
	right: 200px;
}

.pagination {
	float: center;
	/*margin-bottom: */
}

.am-form-group input, select, textarea {
	width: 50% !important;
}

.goto-top {
	position: fixed;
	bottom: 80px;
	right: 20px;
}

.gallery-info {
	margin-top: 1em;
}

.gallery-info p {
	margin: 0.2em !important;
	font-size: 1em;
	color: gray;
}
