{% extends "test_base.html" %}
{% block title %}{% endblock %}
{% block content %}
<style type="text/css">
  .am-intro{
    /*border:5px solid #ccc !important;*/
    margin: 0 !important;
    border-top: 5px solid #ccc !important;
  }
</style>

{% if users.items %}
{% for user in users.items%}
  <div data-am-widget="intro"
       class="am-intro am-cf am-intro-default"
      style="margin: 5px;margin-top: 8px;border:5px;" >

    <div class="am-g am-intro-bd" style="background-color: rgba(250,250,250,200);">
        <div
            class="am-intro-left am-u-sm-5"><img src="../../static/img/{{user.ImgPath}}.thumbnail" /></div>
        <div
            class="am-intro-right am-u-sm-7">

<p style="color:    #68838B;margin-bottom: 0.2rem;font-size: 1.6rem;"><span class="am-icon-clock-o"></span>&nbsp类型&nbsp{{user.Type}}<br></span><span class="am-icon-clock-o" style="width: 16px;"></span>&nbsp时间&nbsp{{user.Time}}<br><span class="am-icon-map-marker"style="width: 16px;"></span>&nbsp地点&nbsp{{user.Place}}<br>
    <span class="am-icon-phone" style="width: 16px;"></span>&nbsp联系方式&nbsp{{user.ContactWay}}</p>
</div></br>
  <div class="am-article-bd">
<div class="am-u-sm-9 am-u-sm-offset-1"> <p style="margin:0 0 0.2rem;font-size: 1.6rem;"> {{user.Content}}</br></p>
<p style="float:right;margin: 0;font-size: 12px;color: rgba(113, 168, 212, 0.91)">{{user.SubTime}}</p>
</div>
  </div>
  </div>
{% endfor%}
{% else %}
<center>
<div>
</br>
<h2><i  class="am-icon-btn am-warning am-icon-warning"></i>无提交记录!</h2>
</div>
</center>
{% endif %}
<ul class="am-pagination am-pagination-centered">
{% if users.has_prev %}
      <li>
        <a href="/found/manage/{{users.prev_num}}" class="">&laquo</a>
      </li>
{% else %}
      <li class="am-disabled">
        <a href="/found/manage/{{users.prev_num}}" class="">&laquo</a>
{% endif %}
  {% for i in range(((users.total-1)//5+1)) %}
  {% if i+1==page %}
  <li class="am-active"><a href="/found/manage/{{i+1}}">{{i+1}}</a></li>
  {% else %}
  <li><a href="/found/manage/{{i+1}}">{{i+1}}</a></li>
  {% endif %}
  {% endfor %}
{% if users.has_next %}
      <li>
        <a href="/found/manage/{{users.next_num}}" class="">&raquo</a>
      </li>
{% else %}
<li class="am-disabled">
        <a href="/found/manage/{{users.next_num}}" class="">&raquo</a>
      </li>
{% endif %}
</ul>
{% endblock %}
