{% extends "test_base.html" %}
{% block title %}登录{% endblock %}
{% block content %}
<style type="text/css">
  .reg
  {
    margin-top:2%; 
  }
</style>
  <form class="am form" method="post" action="" enctype="multipart/form-data">

    <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
    <center>
      <p>{{Warnings}}</p>
    </center>
    <div class="am-g">
      <div class="am-u-sm-11 am-u-sm-centered">
        <div class="am-input-group am-input-group-primary">
          <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
          <input type="text" class="am-form-field" placeholder="邮箱" required="" name="EMail" id="EMail"> 
        </div>
      </div>
    </div>
    <br>
    <div class="am-g">
      <div class="am-u-sm-11 am-u-sm-centered">
        <div class="am-input-group am-input-group-primary">
          <span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
          <input type="password" class="am-form-field" placeholder="密码" required="" name="PassWord" id="PassWord">
        </div>
      </div>
    </div>
    <hr>
    <div class="am-g">
      <div class="am-u-sm-11 am-u-sm-centered">
      <center>
      <input  class="am-btn am-btn-primary am-btn-block" type="submit" value="登录"></input>  
      </center>
      </div></div>
    <div class="am-g">
      <div class="am-u-sm-11 am-u-sm-centered reg">
      <center>
      <a href="/found/register">
      <input  class="am-btn am-btn-danger am-btn-block"value="注册"></input></a>
<br>
      <a href="https://openapi.yiban.cn/oauth/authorize?client_id=9b738aa2ee18145a&redirect_uri=http://f.yiban.cn/iapp31797&state=STATE&display=html">
      <input  class="am-btn am-btn am-btn-block"value="易班登录"></input></a>
      </center>
      </div></div>
  </form>
{% endblock %}
