{% extends "base_mobile.html" %}
{% block title %}管理启事{% endblock %}

{% block nav %}
<div class="navbar color-white theme-white no-border">
    <div class="navbar-inner">
        <div class="left"><a href="/found/user"><i class="fa fa-chevron-left"></i></a></div>
      <div class="center sliding">详情</div>
      <div class="right"></div>
    </div>
</div>
{% endblock %}

{% block content %}

{% if users.items %}
<div class="content-block-title">支持滑动操作</div>
<div class="list-block media-list things white">
  <ul>
  {% for user in users.items %}
  <li class="swipeout">
    <a href="/found/detail/{{user.Id}}" class="item-link item-content swipeout-content">
      <div class="item-media">
        <img class="item-img" src="/static/img/{{user.ImgPath}}" />
      </div>
      <div class="item-inner">
        <div class="item-title-row">
          <div class="item-title"><i class="fa fa-briefcase i-blue"></i>&nbsp;&nbsp;&nbsp;&nbsp;物品信息&nbsp;&nbsp;&nbsp;{{user.Header}}</div>
        </div>
        <div class="item-subtitle"><i class="fa fa-clock-o i-blue"></i>&nbsp;&nbsp;&nbsp;&nbsp;{% if user.Type == '招领' %}拾获{% else %}丢失{% endif %}时间&nbsp;&nbsp;&nbsp;{{user.Time}}</div>
        <div class="item-subtitle"><i class="fa fa-map-marker i-blue"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if user.Type == '招领' %}拾获{% else %}丢失{% endif %}地点&nbsp;&nbsp;&nbsp;{{user.Place}}</div>
        <div class="item-subtitle"><i class="fa fa-money i-blue"></i>&nbsp;&nbsp;&nbsp;悬赏网薪&nbsp;&nbsp;&nbsp;{{user.Reward}}</div>
        <div class="item-subtitle"><i class="fa fa-phone i-blue"></i>&nbsp;&nbsp;&nbsp;&nbsp;联系方式&nbsp;&nbsp;&nbsp;{{user.ContactWay}}</div>
        <div class="item-text">{{user.Content}}</div>
      </div>
    </a>
    <div class="swipeout-actions-right">
      <a href="/found/manage/{{page}}?id={{user.Id}}&type=1" class="bg-green">完成</a>
      <a href="/found/manage/{{page}}?id={{user.Id}}&type=0" class="bg-red">删除</a>
    </div>
  </li>
  {% endfor %}
  </ul>
</div>
{% else %}
<div class="content-block-title">您还没有发布任何信息~</div>
{% endif %}
{% endblock %}

{% block bottomnav %}
<div class="toolbar tabbar tabbar-labels">
    <div class="toolbar-inner">
      <!-- Toolbar links -->
      <a href="/found/" class="tab-link">
       <i class="fa fa-home"></i>
       <span class="tabbar-label">信息中心</span>
      </a>
     <a href="#" data-popup=".popup-publish" class="tab-link open-popup publish-info">
        <img src="/static/img/icon/plus_green.png" class="plus-center" />
        <!-- <i class="fa fa-plus-square-o fa-4"></i> -->
     </a>
     <a href="/found/user" class="tab-link active">
         <i class="fa fa-user"></i>
         <!-- <img src="/static/img/icon/user.png" /> -->
         <span class="tabbar-label">我</span>
     </a>
  </div>
</div>
{% endblock %}
