{% extends "form_mobile_base.html" %}
{% block title %}我{% endblock %}
{% block nav %}
<div class="navbar color-white theme-white no-border">
    <div class="navbar-inner">
        <div class="left"><a href="/found/user"><i class="fa fa-chevron-left"></i></a></div>
      <div class="center sliding">领取网薪</div>
      <div class="right"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="content-block">
  <div style="text-align:center;">
  全力开发中~
</div>
<!-- <form class="list-block white" id="my-form" style="margin: 10px 0 !important;">
  <ul>
    <li class="item-content">
      <div class="item-inner">
        <div class="item-title label">接收人</div>
        <input type="text" name="yb_userid" placeholder="请输入对方易班id" required="" />
      </div>
    </li>
    <li class="item-content">
      <div class="item-inner">
        <div class="item-title label">赠送数量</div>
        <input type="text" name="award" placeholder="大于等于100, 且为100的整数倍" required="" />
      </div>
    </li>
  </ul>
  <input type="hidden" name="access_token" value="{{access_token}}" />
</form>
<input type="submit" class="button button-fill button-big color-green form-to-json" value="赠送" /> -->
</div>
{% endblock %}
