{% extends "form_mobile_base.html" %}
{% block title %}注册{% endblock %}
{% block nav %}
<div class="navbar color-white theme-white no-border">
    <div class="navbar-inner">
        <div class="left"><a href="/found/login"><i class="fa fa-chevron-left"></i></a></div>
      <div class="center sliding">注册</div>
      <div class="right"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="content-block">
  <form class="list-block" method="post" enctype="multipart/form-data" action="/found/register">
    <ul class="white">
      <li>
        <div class="item-content">
         <div class="item-media"><i class="fa fa-user i-blue"></i></div>
         <div class="item-inner">
           <div class="item-input">
             <input type="text" placeholder="你的真实姓名"required=""type="text" minlength="2" name="TrueName" id="TrueName">
           </div>
         </div>
       </div>
     </li>
     <li>
       <li>
         <div class="item-content">
          <div class="item-media"><i class="fa fa-mortar-board i-blue"></i></div>
          <div class="item-inner">
            <div class="item-input">
              <input id="StuNumber" name="StuNumber" placeholder="你的学号" type="text" required="required">
            </div>
          </div>
        </div>
       </li>
      <li>
        <div class="item-content">
         <div class="item-media"><i class="fa fa-envelope i-blue"></i></div>
         <div class="item-inner">
           <div class="item-input">
             <input placeholder="你的邮件地址" type="text" required="" id="EMail" name="EMail"></div>
           </div>
         </div>
      </li>
        <li>
        <div class="item-content">
         <div class="item-media"><i class="fa fa-lock i-blue"></i></div>
         <div class="item-inner">
           <div class="item-input">
             <input type="password"  placeholder="请输入密码" required="required" name="PassWord" id="PassWord">
           </div>
         </div>
       </div>
      </li>
    </ul>
    <p class="login">
      <input type="submit" class="button button-big button-fill button" value="注册"/>
    </p>
  </form>
</div>

{% endblock %}
