{% block doc -%}
<!DOCTYPE html>
<html class="no-js">
{%- block html %}
  <head>
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport"
content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="../../static/css/amazeui.min.css">
<link rel="icon" type="image/jpg" href="../../static/assets/i/favicon.jpg">
<script src="../../static/js/jquery.min.js"></script>
    {%- block head %}
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%- endblock head %}
  </head>

  <body >
<div data-am-widget="navbar" class="am-navbar am-cf  am-no-layout" id="" style="background-color: rgba(240,240,240,200);border-top-color: #7FFFD4;">
  <ul class="am-navbar-nav am-cf am-avg-sm-4" style="color: rgba(36, 154, 214, 0.9);">
  <li><a href="/found/" class="">
    <span class="am-icon-search"></span>
    <span class="am-navbar-label">寻物招领</span></a></li>
  <li ><a href="/found/form" class="">
    <span class="am-icon-edit"></span>
    <span class="am-navbar-label">发布启事</span></a></li>
  <li ><a href="/found/manage" class="">
    <span class="am-icon-cog"></span>
    <span class="am-navbar-label">管理启事</span></a></li>
  </ul>
</div>

<header class="am-topbar am-topbar-fixed-top" style="background-color: rgba(113, 168, 212, 0.91);">
  <h1 class="am-topbar-brand">
    <a style="color: white;">{{title}}</a>
  </h1>
<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">

{% if Login==True %}
<div class="am-topbar-right">
<a href="/found/login">
      <button class="am-btn am-btn-success am-topbar-btn am-btn-sm">登录</button></a>
    </div>
    <div class="am-topbar-right">
    <a href="/found/register">
      <button class="am-btn am-btn-danger am-topbar-btn am-btn-sm">注册</button></a>
    </div>

  </div>
  {% else %}
<div class="am-topbar-right">
<a href="/found/logout">
      <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">登出</button></a>
    </div>
    </div>
{% endif %}
</header>


    {% block body -%}
    {% block navbar %}
    {%- endblock navbar %}
    {% block content -%}
    {%- endblock content %}
    {%- endblock body %}
  </body>
<script src="../../static/js/amazeui.min.js"></script>
{%- endblock html %}
</html>
{% endblock doc -%}
