<div class="popup popup-yibanfriend">
  <div class="navbar color-white theme-white no-border">
      <div class="navbar-inner">
        <div class="gsearchbar">
          <div class="gsearchbar-input">
            <input type="text" class="" placeholder="搜索好友..." name="keyword" />
            <a href="#" class="gsearchbar-clear close-popup"><img src="/static/img/icon/remove.png" /></a>
          </div>
        </div>
      </div>
  </div>
  <div class="list-block yiban-friend-list" style="margin-top: 4px !important;">
      
  </div>
</div>
